.comment {
    min-width: 700px;
    overflow: hidden;
}

.button_container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    text-transform: capitalize !important;
}

.reply_container {
    max-width: 400px;
}