@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark {
  background-color: #111827;
  color: white;
}

.header-color{
  background-color: #0d1220;
}

.form{
  min-width: 1200px;
}

.custom-radio input[type="radio"] {
  transform: scale(1.5); /* Scale size by 1.5 times */
  margin-right: 10px;
}

.menu-transform{
  /* transform: translate(50px, 0px); */
}

@media screen and (max-width: 1440px) {
  .form{
    min-width: 800px;
  }
}

@media screen and (max-width: 896px) {
  body{
    border: 0px;
  }

  .form{
    min-width: 300px;
  }
}